doctype html
html(lang="en")
  head
    title Navigation
  style 
  
  nav
    h1(id="logo") LB Cafe 
    a(href='#')
      i.fa.fa-(aria-hidden='true') 
    ul
      li
        a(href='/') Home
      li
        a(href='/about') About
      li
        a(href='/menu') Menu
      li
        a(href='/contact') Contact



        