doctype html
html(lang="en")
  head
    title About
    style
      include ../public/css/style.css
  body
    include partials/nav.pug
    include partials/header.pug
    include partials/hero2.pug
    h2 About
    p Everything you wanted to know about our Cafe! 
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio fugit quibusdam veritatis officia laboriosam quos praesentium rem ducimus quae! Natus odio beatae molestiae consequatur ad expedita libero voluptas quae ratione!
    include partials/footer.pug