doctype html
html(lang="en")
  head
    title Contact
    style
      include ../public/css/style.css
  body
    include partials/nav.pug
    include partials/header.pug
    h2 Contact
    p Phone: 234-323-2323
    p Email: info@laidbackisland.com
    include partials/footer.pug