doctype html
html(lang="en")
  head
    title Contact
    style
      include ../public/css/style.css
  body
    include partials/nav.pug
    include partials/header.pug
    include partials/hero4.pug
    h2 Contact
    p Phone: 234-323-2323
    p Email: info@laidbackisland.com
    p Hours:
    p MON  | 8am-9pm
    p TUES  | 8am-9pm
    p WED  | 8am-9pm
    p TH  | 8am-9pm
    p FRI  | 8am-9pm
    p SAT  | 8am-10pm
    p SUN  | 8am-10pm
    include partials/footer.pug