doctype html
html(lang="en")
  head
    title Home
    style
      include ../public/css/style.css
  body
    include partials/nav.pug
    include partials/header.pug
    include partials/hero1.pug
    h2 Welcome to Laid Back Cafe
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium corporis voluptatem consequatur fugit in accusamus vel modi, at dolorem, porro odit? Non voluptatum asperiores unde recusandae expedita repudiandae dolores repellat!
    include partials/footer.pug