doctype html
html(lang="en")
  head
    title Menu
    style
      include ../public/css/style.css
  body
    include partials/nav.pug
    include partials/header.pug
    h2 Menu
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, consequatur quisquam. Quis maiores esse veritatis recusandae officia itaque minus repellendus, animi possimus quod inventore expedita? Vitae illum nisi asperiores consequatur?
    include partials/footer.pug